@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Estilos para Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.player-marker,
.pokemon-marker,
.trainer-marker {
  border: none !important;
  background: transparent !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}